

*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgb(230, 141, 141), rgb(230, 230, 136));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    min-height: 100vh;
 
}

header{
    background-color: #333;
    margin-bottom: 50px;
    width: 100%;
}
  
header h1{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 30px;
}
  

.card {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
    border: 3px solid rgb(66, 66, 66);
    box-shadow: 20px 20px 20px rgba(26, 6, 6, 0.3); /* Adjust the shadow properties as needed */
  }
  
  .card-img-top {
    transition: transform 0.3s ease;
        height: 180px; /* Adjust the height as needed */
      
  }

  .card:hover .card-img-top {
    transform: scale(1.1);
  }

  footer {
    background-color: #333;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 20px; */
  }
  footer p {
    text-align: center;
    color: white;
    margin-bottom: 0;
    padding: 30px;

  }
  

